*.log -text -whitespace
*.json -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
*.py -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
cmd-probe.py whitespace=-blank-at-eof,blank-at-eol,space-before-tab,cr-at-eol
